$black: #222222;
$bkg_gray: #F5F4F0;
$red_text: #B9031A;
$details_gray: #CCCBC5;

$half_star_gradient: linear-gradient(90deg, #222222 49.24%, #767673 49.26%, #767673 49.27%, #C4C3BD 49.28%, #CCCBC5 120%);

$space: 48px;
$main_margin: 120px;
$header_height: 137px;
$top_nav_height: 43px;
$nav_slot_height: 94px;